.left_sidebar {
    height: 100vh;
    // backdrop-filter: blur(10px);
    background: #252e42;
    // transition: all .25s ease-in-out;
    overflow: hidden;

    .side_bar {
        width: 100%;
        height: 100%;
        white-space: nowrap;
        top: 0;
        display: block;

      
        .menu_bars{                
            display: none; 
            .menu-cross {
                font-size: 1.8rem;
                color: #FFF;
                cursor: pointer;
            }               
        }

        .logo{
            display: flex;
            align-items: center;
            margin-left: 16px;
            img {
                height: 3rem;
            }
            h4 {
                font-size: 1.6rem;
                font-weight: 500;
                color: #FFF;
                padding-left: 1rem;            
            }
        }
        .title {
            padding: .8rem 2rem;
            h5 {
                font-size: 1.6rem;
                font-weight: 500;
                color: #FFF;
                letter-spacing: .1rem;
                opacity: .5;
            }
        }
        .nav_area {   
         
            li{
                .menu__link{
                    position: relative;
                    width: 100%;
                    display: block;
                    padding: 1rem 0;
                    font-size: 1.4rem;
                    color: #fff;
                    border-left: 5px solid rgba(0, 0, 0, 0);
                    transition: all .1s ease-in;
                    font-weight: 400;
                    opacity: .6;
                }
                
                .sub_icon {
                    font-size: 1rem;
                    position: absolute;
                    right: 2rem;
                    bottom: 15px;
                }
                
                &:hover {
                    background-color: $primary_dark;
                    .menu__link{
                        opacity: 1;
                    }       
                }  
            }
            

            .sub_menu {
                display: none;
                padding: 1rem 0;
                background-color: $primary_dark;
                li {
                    a {
                     width: 100%;
                     display: block;
                     padding: 1rem 3.4rem;
                     font-size: 1.4rem;
                     color: #FFF;
                     border-left: 5px solid transparent;   
                     opacity: .6;
                     transition: all .15s ease-in;              
                     i{
                         font-size: 1.4rem;
                         width: 4rem;
                     }
                    }
                    a.submenu__link--active{
                        opacity: 1;
                        i{
                            color: yellow !important;
                        }
                    }
                    &:hover {
                        border-left: 3px solid yellow;
                        a{
                            opacity: 1;
                        }         
                    } 
                 }
            }
        }
    }
}
.left_sidebar--expanded{
    width: 30rem;
}
.sidebar-link-name{
    display: inline-block;
}
.sidebar-link--active{
    a.menu__link{
        opacity: 1 !important;
        background-color: $primary_dark;
        i{
            color: yellow !important;
        }
    }
}

.header {
    width: 100%;
    height: 7rem;
    padding: 0 1rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.226);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
.left_sidebar--collapsed {
    width: 7rem;
    .title{
        padding: .8rem 1rem !important;
        h5{
            
            font-size: 1.5rem !important;
        }
    }
    .side_bar{
        .header{
            .logo{
                img {
                    height: 4.5rem;
                    padding-right: 1rem;
                    padding-left: .8rem;
                }
                p{
                    span{
                        display: none;
                    }
                }
            }
        }

        .copy_right{
            p{
                display: none
            }
            a{
                padding-left: .6rem;
                font-size: .9rem;               
            }
            
        }
    }
    .nav_area{
        .sub_icon{
            display: none !important;
        }
        .menu_icon{
            padding-right: 2rem !important;
        }
    }
}

// media query for 1024px
@media (max-width: 1024px) {
    .left_sidebar {
        width: 0rem;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        .side_bar {
            .menu_bars{
                display: block;
            }
            .title{
                display: none;
            }
            .nav_area{
                li{
                    .menu__link{
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
    .left_sidebar--expanded{
        width: 30rem;
    }
    .left_sidebar--collapsed {
        width: 0;
        .title{
            padding: .8rem 1rem !important;
            h5{
                
                font-size: 1.5rem !important;
            }
        }
        .side_bar{
            .header{
                .logo{
                    p{
                        span{
                            display: none;
                        }
                    }
                }
            }
    
            .copy_right{
                p{
                    display: none
                }
                a{
                    padding-left: .6rem;
                    font-size: .9rem;               
                }
                
            }
        }
        .nav_area{
            .sub_icon{
                display: none !important;
            }
            .menu_icon{
                padding-right: 2rem !important;
            }
        }
    }
}


