.menu_wrapper{
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    .menu_title{
        border-bottom: 1px solid $border_light;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu_title_text{
            font-family: 'poppins', sans-serif;
            font-size: 1.4rem;
            font-weight: 500;
            color: $primary;
            opacity: .8;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 1rem 0;
        }
    }
    .item_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem 0 2rem;
        transition: all .2s ease-in-out;
        .item_left{
            display: flex;
            align-items: center;
            gap: 1rem;
            .item_content{
                text-align: left;
                .menu_quantity_wrapper{
                    margin-top: .5rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    input{
                        width: 4rem;
                        height: 3rem;
                        border: 1px solid $border_light;
                        border-radius: 5px;
                        text-align: center;
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: $primary;
                    }
                    button{
                        cursor: pointer;
                        height: 3rem;
                        aspect-ratio: 1/1;
                        i{
                            font-size: 1.4rem;
                            opacity: .5;
                        }
                        &:hover{
                            background: #f6f6f6;
                            border-radius: 10%;
                        }
                    }
                }
            }
        }
        .item_right{
            margin-right: 2rem;
        }
    }
    .item-wrapper--profile{
        flex-wrap: wrap;
        margin-inline: 1rem;
        .item_left{
            min-width: 44rem;
        }
    }
    .item_wrapper:last-child{
        border-bottom: none !important;
    }
    .item_wrapper-stripes:nth-child(even){
        background-color: #f6f6f6;
    }
    .menu_category_title{
        font-family: 'poppins', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        color: $primary;
        opacity: .8;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem 0;
        border-bottom: 1px solid $border_light;
    }
}
.order_table_wrapper--kitchen{
    padding: 2rem !important;
}
.menu_wrapper--kitchen{
    min-width: 40rem;
    padding: 1rem 2rem;
}

.heading{
    margin-block: 2rem;
    margin-inline: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading__title{
        .heading .heading__title {
            font-family: "roboto",sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #252e42;
        }
    }
}

.modal_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'inter', sans-serif;
    margin: 1rem 0;
    padding-block: 1rem;
    .modal_title{
        font-size: 1.4rem;
        font-weight: 500;
        color: $primary;
        opacity: .8;
    }
    border-bottom: 1px solid $border_light;
    button{
        background: transparent;
        cursor: pointer;
        height: 4rem;
        aspect-ratio: 1/1;
        i{
            font-size: 1.4rem;
            opacity: .5;
        }
        &:hover{
            background: #f6f6f6;
            border-radius: 10%;
        }

    }
}

.order_table_wrapper{
    padding: 0 3rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    .order_table{
        //no text selection
        background-color: $white;
        -webkit-touch-callout: none; /* iOS Safari */
        user-select: none;
        min-width: 30rem;
        min-height: 16rem;
        width: 23%;
        padding: 2rem;
        border: 2px solid $border_light;
        border-radius: 10px;
        position: relative;
        font-family: 'inter', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .order_table_title{
            font-family: 'poppins', sans-serif;
            position: absolute;
            font-size: 10rem;
            font-weight: 600;
            color: $primary;
            opacity: .1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .order_table_top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .order_table_top_left{
                font-size: 1.4rem;
                font-weight: 500;
                color: $primary;
                opacity: .8;
            }
            .order_table_top_right{
                display: flex;
                gap: .5rem;
                font-size: 1.4rem;
                font-weight: 500;
                color: $primary;
                opacity: .8;
            }
        }
        .order_middle{
            text-align: center;
            z-index: 1;
        }
        .order_table_bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .order_table_bottom_left{
                font-size: 1.4rem;
                font-weight: 500;
                color: $primary;
                opacity: .8;
            }
            .order_table_bottom_right{
                text-align: end;
                font-size: 1.4rem;
                font-weight: 500;
                color: $primary;
                opacity: .8;
            }
        }
    }
}
.status_indicator{
    i{
        font-size: 1.4rem;
        margin-right: .5rem;
    }
    span{
        font-family: 'inter', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #01284faf;
    }
}
.table-row:nth-child(even){
    td{
        background-color: #f6f6f6;
    }
}
.table-row{
    td{
        padding: 1rem 3rem !important;
    }
}
.heading-column{
    font-size: 1.2rem;
    font-weight: 400;
    color: $primary;
    opacity: .8;
    padding: 1rem 3rem !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.table-column__wrapper{
    display: flex;
    align-items: center;
    .table-column__image{
        padding-right: 1.5rem;
        img{
            width: 4rem;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: .4rem;
        }
    }
}
.table-column__title{
    font-family: 'hind siliguri', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: $primary;
    opacity: .8;
}

.table-column__product{
    opacity: 1;
    font-weight: 500;
}

.table-column__subtitle{
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: $primary;
    opacity: .6;
}
.table-column__status{
    i{
        font-size: 1.4rem;
        margin-right: .5rem;
    }
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #01284faf;
}

.contact_info{
    padding: 1rem;
    .t_title{
        padding: 2rem 0;
        .item_btn{
            padding: 1rem 1.5rem;
            font-size: 2rem;
            color: #000;
            background-color: $color_3;
            border-radius: .2rem;
            transition: .3s;
            &:hover{
                color: $color_2;
            }
        }
    } 

    table{
        width: 100%;
        background-color: $color_3;
        box-shadow: 0px 0px 10px rgba(207, 205, 205, 0.199);
        border-collapse: collapse;
        thead{
            text-align: left;
            tr{
                th{
                    padding: 1rem;
                    font-size: 2rem;
                    background-color: rgba(227, 239, 250, 0.3);
                }
            }
        }
        tbody{
            tr{                
                td{
                    padding: .5rem 1rem;
                    border: 1px solid rgb(252, 242, 242);
                    font-size: 1.8rem;
                    &:nth-child(4){
                        text-align: center;
                    }
                    img{
                        height: 4rem;
                    }
                    a{
                        padding: .5rem;
                        background: blueviolet;
                        font-size: 2rem;
                        color: #000;
                        border-radius: .5rem;
                        &:nth-child(1){
                            background: #7ab13c9d;
                        }
                        &:nth-child(2){
                            background: #de6262d2;
                        }
                    }
                }
            }
        }
    }
}

.user{
    padding: 1rem;
    background-color: $color_3;
    border-radius: 1rem;
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        h3{
            font-size: 2rem;
        }
        .t_btn{
            padding: 1rem 1.5rem;
            font-size: 2rem;
            background-color: $color_2;
            border-radius: .5rem;
            color: $color_3;
        }
    }
    
    table{
        width: 100%;
        background-color: $color_3;
        box-shadow: 0px 0px 10px rgba(207, 205, 205, 0.199);
        border-collapse: collapse;
        thead{
            text-align: left;
            tr{
                th{
                    padding: 1rem;
                    font-size: 2rem;
                    background-color: rgba(227, 239, 250, 0.3);
                }
            }
        }
        tbody{
            tr{
                &:nth-child(odd){
                    background: #eeecec;
                }
                &:nth-child(even){
                    background: rgb(253, 247, 247);
                }
                
                td{
                    padding: .5rem 1rem;
                    border: 1px solid rgb(252, 242, 242);
                    font-size: 1.8rem;
                    img{
                        width: 4rem;
                        height: 4.5rem;
                        border-radius: .2rem;
                    }
                    a{
                        padding: .5rem;
                        background: rgb(100, 100, 248);
                        font-size: 2rem;
                        color: #fff;
                        margin-right: .5rem;
                        border-radius: .5rem;
                        &:nth-child(1){
                            background: #7ab13c9d;
                        }
                        &:nth-child(3){
                            background: #de6262d2;
                        }
                    }
                  #status[type="checkbox"]{
                     position: relative;
                     width: 4.5rem;
                     height: 2rem;
                     border: none;
                     outline: none;
                     margin: auto;
                     border-radius: 1rem;
                    background: #ddd;
                    box-shadow: 0px 0px 5px #f6faff;
                    transition: .3s linear;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 2rem;
                        height: 2rem;
                        left: 0rem;
                        top: .1rem;
                        bottom: .1rem;
                        margin: auto;
                        border-radius: 50%;
                        background: #ffff;
                        transition: .3s linear;
                    }

                  }
                  #status:checked[type="checkbox"] {
                    background: $color_2;
                    &::before{
                        left: 2.8rem;
                    }
                  }
                }
            }
        }
    }
}

.student{
    margin-top: 5rem !important;
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        h3{
            font-size: 2rem;
        }
        .t_btn{
            padding: 1rem 1.5rem;
            font-size: 2rem;
            background-color: $color_2;
            border-radius: .5rem;
            color: $color_3;
        }
    }

    table{
        width: 100%;
        background-color: $color_3;
        box-shadow: 0px 0px 10px rgba(207, 205, 205, 0.199);
        border-collapse: collapse;
        thead{
            text-align: left;
            tr{
                th{
                    padding: 1rem;
                    font-size: 2rem;
                    background-color: rgba(227, 239, 250, 0.3);
                }
            }
        }
        tbody{
            tr{
                &:nth-child(odd){
                    background: #eeecec;
                }
                &:nth-child(even){
                    background: rgb(253, 247, 247);
                }
                
                td{
                    padding: .5rem 1rem;
                    border: 1px solid rgb(252, 242, 242);
                    font-size: 1.8rem;
                    img{
                        width: 4rem;
                        height: 4.5rem;
                        border-radius: .2rem;
                    }
                    a{
                        padding: .5rem;
                        background: rgb(86, 86, 90);
                        font-size: 2rem;
                        color: #fff;
                        margin-right: .5rem;
                        border-radius: .5rem;
                    }
                  #present[type="checkbox"]{
                     position: relative;
                     width: 8rem;
                     height: 4rem;
                     margin: auto;
                     cursor: pointer;
                     font-size: 1.6rem;
                     font-weight: 600;
                     border-radius: 0;
                     background-color: #9ae6a3;
                    &::before{
                        content: "Present";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                  }
                  #present:checked[type="checkbox"] {
                    background: $color_2;
                    &::before{
                        content: "Absent";
                        background-color: rgb(245, 135, 135);
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                  }
                }
            }
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #696969;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 1.2rem;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


  .profile_table{
    width: 100%;
    tr{
        padding: 1rem;
    }
  }